footer {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}
.logo-footer {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 2rem;
}
.logo-footer > span {
  color: rgb(8, 62, 154);
}
.nav-link-footer {
  margin: 1rem;
  text-decoration: none;
  color: black;
}
.nav-linkk:hover {
  color: rgb(8, 62, 154);
}
