footer {
  position: fixed;
  margin-top: auto;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  width: 100%;
}

.logo-footer {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 2rem;
  text-align: right;
}
.logo-footer > span {
  color: rgb(8, 62, 154);
}
.nav-link-footer {
  text-decoration: none;
  color: black;
}
.nav-linkk:hover {
  color: rgb(8, 62, 154);
}
