nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.75);
}

nav div {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  margin-right: 30px;
  margin-top: 6px;
}
.nav-link:hover {
  color: rgb(8, 62, 154);
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 30px;
}
.logo > span {
  color: #083e9a;
}
.header-background {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  background-color: #a4d0e080;
  flex-direction: row;
  justify-content: space-between;
}
