nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

nav div {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}
.nav-link:hover {
  color: rgb(8, 62, 154);
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 30px;
}
.logo > span {
  color: rgb(8, 62, 154);
}
.header-background {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  background: #a4d0e0;
  flex-direction: row;
  justify-content: space-between;
}
