nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

nav div {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  color: rgb(8, 62, 154);
}
.logo {
  font-size: 2rem;
  font-weight: bold;
}
.logo > span {
  color: rgb(8, 62, 154);
}
.header-background {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  length: 100%;
  /* text-align: center; */
  background: #a4d0e0;
  flex-direction: row;
  justify-content: space-between;
  /* color: white;
  font-size: 30px; */
}
