nav {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  margin: 1rem;
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  color: blue;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2rem;
}
.logo > span {
  color: red;
}
